{% include header.html %}

<div id="wrapper">
  <section id="sidebar">
    <nav>

      {% capture site_categories %}
        {% for category in site.categories %}
          {{ category | first }}
        {% endfor%}
      {% endcapture %}
      <ul>
        {% for groups in site.navigation %}
          {% assign is_title_showed = false %}

          {% for category in groups.group %}
            {% assign category_downcase = category | downcase %}
            {% if site_categories contains category_downcase %}
              {% unless is_title_showed %}
                <li>
                  <h3>{{ groups.title }}</h3>
                  <ul>
                {% assign is_title_showed = true %}
              {% endunless %}
              <li><a href="/categories/{{ category | downcase }}/">{{ category }}</a></li>
            {% endif %}
          {% endfor %}
            </ul>
          </li>
        {% endfor %}

      </ul>
    </nav>

  </section>

  <section id="holder">
    <header id="header">
      <a href="{{ site.url }}" class="logo">
        <img src="/assets/img/logo.png" alt="Fridaycode.net" />
      </a>

      {% include social_share.html %}
      <a href="#" class="menu-button show">Menu show</a>
      <a href="#holder" class="menu-button hide">Menu hide</a>
    </header>

    <section class="content">
      <div>
        {{ content }}
      </div>

      <footer id="footer">
        FridayCode.net &copy; Copyright 2009.
      </footer>
    </section>
  </section>
</div>

{% include footer.html %}

